<div class="section">
    <div class="section-header">
        <h1>Menu Principal - Bienvenido</h1>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header border-left border-bottom-0 border-danger">
                    <h4>Problema 1</h4>
                    <div class="card-header-action">
                        <div class="btn-group">
                            <p>LOS RESULTADOS SE ENCUENTRAN EN CONSOLA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Problema 2</h4>
                </div>
                <app-formulario></app-formulario>
            </div>
        </div>
    </div>
</div>